@*@model MutualBank.Areas.Admin.Models.UserVM;    //User型別*@
@model MutualBank.Models.User;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label  class="control-label"></label>
                <input  class="form-control" />
                <div>@Model.UserLname</div>
                @{

                    Model.UserLname.ToString();
                }
                <span asp-validation-for="UserLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserFname" class="control-label"></label>
                <input asp-for="UserFname" class="form-control" />
                <span asp-validation-for="UserFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserNname" class="control-label"></label>
                <input asp-for="UserNname" class="form-control" />
                <span asp-validation-for="UserNname" class="text-danger"></span>
            </div>
            <div id="gender" class="form-group form-check">         
                <label asp-for="UserSex" class="form-check-label"></label>
                @*@Html.DropDownListFor(model => model.UserSex, SelectList, new { @class = "form-control"})*@
            </div>
            <div class="form-group">
                <label asp-for="UserHphoto" class="control-label"></label>
                <input asp-for="UserHphoto" class="form-control" />
                <span asp-validation-for="UserHphoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBirthday" class="control-label"></label>
                <input asp-for="UserBirthday" class="form-control" />
                <span asp-validation-for="UserBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSkillId" class="control-label"></label>
                <input asp-for="UserSkillId" class="form-control" />
                <span asp-validation-for="UserSkillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAreaId" class="control-label"></label>
                <input asp-for="UserAreaId" class="form-control" />
                <span asp-validation-for="UserAreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCv" class="control-label"></label>
                <input asp-for="UserCv" class="form-control" />
                <span asp-validation-for="UserCv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserResume" class="control-label"></label>
                <input asp-for="UserResume" class="form-control" />
                <span asp-validation-for="UserResume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSchool" class="control-label"></label>
                <input asp-for="UserSchool" class="form-control" />
                <span asp-validation-for="UserSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserFaculty" class="control-label"></label>
                <input asp-for="UserFaculty" class="form-control" />
                <span asp-validation-for="UserFaculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPoint" class="control-label"></label>
                <input asp-for="UserPoint" class="form-control" />
                <span asp-validation-for="UserPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    
}