@{
    UserApiModel data = ViewBag.aUser;
    var id = ViewBag.UserId;
    var jsonString = Newtonsoft.Json.JsonConvert.SerializeObject(data);
}


<div class="row justify-content-between align-items-center pt-3 mb-3">
    <div class="col-4 col-sm-8 col-md-6 col-lg-4 border-bottom">
        <h1>技能</h1>
    </div>
    <div class="col-md-6 col-lg-8 fs-4">
        <span id="editText" class="badge border-end-0 bg-royalblue">閱讀</span>
        <input type="button" id="editBtn" value="切換模式" class="btn btn-lightyellow"/>
    </div>
</div>

@*表單起始處*@
<div class="row">
    <div id="vmEle" class="col-4 col-sm-8 col-md-6 col-lg-4">
        <form id="Userpost" action="post" enctype="multipart/form-data">
            <div class="text-danger"></div>
            <input type="hidden" id="userId" name="userId" v-model="changedUserData.UserId"/>
            @*啟用編輯的區域*@
            <div id="editSec">
                <div class="form-group">
                    <label for="userLname" class="form-label">姓氏</label>
                    <input type="text" id="userLname" name="userLname" v-model="changedUserData.UserLname" class="form-control rounded-pill ps-3" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userFname" class="form-label">名字</label>
                    <input type="text" id="userFname" name="userFname" v-model="changedUserData.UserFname" class="form-control rounded-pill ps-3" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userNname" class="form-label">暱稱</label>
                    <input type="text" id="userNname" name="userNname" v-model="changedUserData.UserNname" class="form-control rounded-pill ps-3" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userSex" class="form-label">性別</label>
                    <select id="userSex" class="form-select" name="userSex" aria-label="Default select example" v-model="selectedSex">
                        <option v-for="item in selectList" :value="item.bool">{{item.text}}</option>
                    </select>
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <input type="hidden" id="validationHphoto" />
                <div class="form-group">
                    <label for="userEmail" class="form-label">電子郵件</label>
                    <input type="email" id="userEmail" name="userEmail" v-model="changedUserData.UserEmail" class="form-control rounded-pill ps-3" />
                    <div class="invalid-feedback">
                      不是可用的電子郵件格式
                    </div>
                </div>
                <div class="form-group">
                    <label for="userBirthday" class="form-label">出生日期</label>
                    <input type="datetime-local" id="userBirthday" name="userBirthday" v-model="changedUserData.UserBirthday" class="form-control rounded-pill ps-3" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userSkillId" class="form-label">技能</label>
                    <input type="number" id="userSkillId" name="userSkillId" v-model="changedUserData.UserSkillId" class="form-control rounded-pill ps-3" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userAreaId" class="form-label">居住區域</label>
                    <input type="number" id="userAreaId" name="userAreaId" v-model="changedUserData.UserAreaId" class="form-control rounded-pill ps-3" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userCv" class="form-label pe-3">簡歷</label>
                    <textarea maxlength="200" id="userCv" name="userCv" form="Userpost" class="form-control rounded-10" v-model="changedUserData.UserCv"></textarea>
                </div>
                <div class="form-group">
                    <label for="userResume" class="form-label pe-3">履歷</label>
                    <textarea maxlength="200" id="userResume" name="userResume" form="Userpost" class="form-control rounded-10" v-model="changedUserData.UserResume"></textarea>
                </div>
                <div class="form-group">
                    <label for="userSchool" class="form-label">學校</label>
                    <input type="text" id="userSchool" name="userSchool" class="form-control rounded-pill ps-3" v-model="changedUserData.UserSchool"/>
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userFaculty" class="form-label">科系</label>
                    <input type="text" id="userFaculty" name="userFaculty"  class="form-control rounded-pill ps-3" v-model="changedUserData.UserFaculty" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
                <div class="form-group">
                    <label for="userPoint" class="form-label">擁有點數</label>
                    <input type="number" id="userPoint" name="userPoint" class="form-control rounded-pill ps-3" v-model="changedUserData.UserPoint" />
                    <div class="valid-feedback">
                      OK
                    </div>
                </div>
            </div>
            <div class="pt-3">
                <button type="button" class="btn btn-backtolist">重設</button>
                <input type="reset" value="reset"/>
                <button type="submit" v-on:click="formSubmit">提交</button>
            </div>
        </form>
        <a href="~/Admin/Users/Index" class="btn btn-backtolist">返回使用者清單</a>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
    integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
    crossorigin='anonymous'></script>
<script>
var user = @Html.Raw(jsonString);
var userId = @id;

var vm = new Vue({
    el: "#vmEle",
    data: {
        userData: user,
        changedUserData: user,
        selectedSex: user.UserSex,
        selectList: [
            { bool: null, text: "未設定" },
            { bool: false, text: "女" },
            { bool: true, text: "男" }
        ],
    },
    methods: {
        formSubmit: function(e) {
            e.preventDefault();
            var postData = $('#Userpost').serialize();            
            $.ajax({
                url: `/api/ApiUser/updateaUser2/${userId}`,
                data: postData,
                type: 'POST',
                dataType: 'json'
            }).done(function(json) {
                console.log(json);
            }).fail(function(xhr, status) {
                console.log('出現錯誤，無法完成!');
                console.log('Status: ' + status);
                console.dir(xhr);
                console.log(postData);
            }).always(function(xhr, status) {
                console.log('要求已完成');
            });
        },
    },
    mounted: function() {
        var self = this;
        fetch(`/api/ApiUser/getaUser/${userId}`)
            .then(function(res) { return res.json() })
            .then(function(json) {
                self.user = json;
                console.log(json);
            })
    }
});
</script>

@section Scripts{
    <script>
        //參數宣告
        var inp = $('#editSec input');
        var sp = $('#editText');
        var bool = true;

        //input 初始化
        inp.prop('readonly', 'true');
        inp.removeClass('form-control');
        inp.addClass('form-control-plaintext fs-6 bg-light');
        //註冊事件
        $("#editBtn").on("click",modeSwitch);

        //按鈕事件處理
        function modeSwitch() {
            if (bool) {
                inp.removeAttr('readonly')
                inp.addClass('form-control');
                inp.removeClass('form-control-plaintext bg-light');
                sp.text("編輯");
                sp.removeClass('bg-royalblue');
                sp.addClass('bg-lightyellow');                
                bool = false;
            }
            else {
                inp.prop('readonly', 'true');
                inp.removeClass('form-control');
                inp.addClass('form-control-plaintext fs-6 bg-light');
                sp.text("閱讀");
                sp.removeClass('bg-lightyellow');
                sp.addClass('bg-royalblue');
                bool = true;
            }
        }

    </script>
}