
@section Styles{
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
}

    <div class="col" >
        <div class="card mb-2 w-100">
            <div class="imgBx">
                <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2" alt="圖片">
            </div>
            <span>CaseSkilId</span>
            <div class="card-body">
                <h5 class="card-title">CaseTitle</h5>
                <p class="card-text mt-1">CaseIntroduction</p>

                <div class="d-flex  justify-content-center">
                    <a class="btn">留言</a>
                </div>
            </div>
        </div>
    </div>