<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MutualBank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MutualBank.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/root-color.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">\
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("ScriptsReady",required:false)

</head>

<body>
    <header>
        <div class="navBar" id="navBar">
            <div class="topL">
                <div class="logo"><a asp-action="Index" asp-controller="Home"><img src="~/Img/nav/logo.png"></a></div>
                <form class="m-auto" method="get" action="@Url.Action("Search","Home")">
                    <div class="search">
                        <div class="area m-1 me-0">
                                <select class="selectList" id="AreaCity" name="AreaCity" v-on:change="getAreaTown">
                                    <option class="selectOption" v-for="item in areaCity" >{{item}}</option>
                                </select>
                        </div>
                        <div class="city m-1">
                                <select class="selectList" id="AreaTown" name="AreaTown">
                                    <option class="selectOption" selected="selected" v-show="isDefaultShow" disabled>區域</option>
                                    <option class="selectOption" v-for="item in areaTown" v-bind:data-areaid="item.areaId">{{item.areaTown}}</option>
                                </select>
                        </div>
                        <input type="text" id="KeyWord" name="KeyWord" placeholder="輸入關鍵字">
                        <button class="searchBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>

            </div>

            <div class="topR">
                <i class="iconMaun fa-solid fa-bars"></i>
                <div class="barManu">
                    <ul>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
            <div class="toTop">
                <a href="#"><i class="fa-solid fa-circle-arrow-up"></i></a>
            </div>
        </div>
    </header>

    <div class="wrap-panel">
        <div class="panelsToggle"></div>
        <div class="postLink">
            <i class="iconPost fa-solid fa-xmark"></i>
            <div class="title">

                <span>Hello</span>
                <p>今天想要貼些什麼呢？</p>
            </div>
            <div class="link">
                <a class="butn poHelp" asp-page="/Home/Index">新增需求</a>
                <a class="butn poSkill" asp-page="/Home/Index">提供技能</a>
            </div>
        </div>
    </div>

    <div class="container fromNav">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MutualBank - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/d0f99bafb2.js" crossorigin="anonymous"></script>
    <script src="~/js/_Layout.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
