 @if (User.Identity.IsAuthenticated)
{
    <li><a><i class="fa-solid fa-diamond" style="font-size:12px;color:var(--help)"></i> 23</a></li>
    <li><a asp-action="ProfilePageAjax" asp-controller="Home">個人頁面</a></li>
    <li><a href="/Home/ProfilePageAjax?page=postcase"><i class="fa-solid fa-square-plus"></i> 新增貼文</a></li>
    <li><a asp-controller="UserLogin" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> 登出</a></li>
    
}
else
{
  <li><a asp-action="ProfilePage1" asp-controller="Home">個人頁面</a></li>
  <li><a asp-controller="UserLogin" asp-action="Register"><i class="fa-solid fa-right-to-bracket"></i> 註冊</a></li>
  <li><a asp-controller="UserLogin" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i> 登入</a></li>
}


    