@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (!SignInManager.IsSignedIn(User))
{
    <li><a><i class="fa-solid fa-plus"></i><span>新增貼文</span></a></li>

    <li><a asp-action="ProfilePage1" asp-controller="Home">個人頁面</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">登出</a></li>
    
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Register">註冊</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Login">登入</a></li>

}

