@if (User.Identities.First().IsAuthenticated)
{
    <li><a id="userPoint" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-diamond" style="font-size:12px;color:var(--help)"></i>&nbsp;{{userPoint}}</a></li>
    <li><a href="/Home/ProfilePageAjax?page=postcase"><i class="fa-solid fa-square-plus"></i>&nbsp;新增貼文</a></li>
    <li><a href="/Home/ProfilePageAjax?page=myProfile"><i class="fa-solid fa-user"></i>&nbsp;帳戶</a></li>

    <li><a asp-controller="UserLogin" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;登出</a></li>

}
else
{
    @User.Identity.Name
    <li><a asp-controller="UserLogin" asp-action="Register"><i class="fa-solid fa-circle-user"></i>&nbsp;註冊</a></li>
    <li><a asp-controller="UserLogin" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;登入</a></li>
}


