@{
    //取出 data
    var id = ViewBag.PointId;
    var caseId = ViewBag.CaseId;
    //頁籤標題
    ViewData["Title"] = $"點數 | 交換明細";
}

@* 標題列 & 按鈕 *@
<div class="row justify-content-between align-items-center pt-3 mb-3">
    <div class="col-12 col-sm-8 col-lg-6 border-bottom">
        <h2 id="title">點數明細</h2>
    </div>
    <div class="col-12 col-sm-4 col-lg-6 fs-4">
        <span id="editText" class="badge border-end-0 bg-royalblue">閱讀</span>
        <input type="button" id="editBtn" value="切換模式" class="btn btn-lightyellow" />
    </div>
</div>

@* 表單起始處 *@
<div class="row">
    <div id="vmEle" class="col-12 col-sm-8 col-md-8 col-lg-6">
        <form id="pointsPost" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <input type="hidden" name="PointId" v-bind:value="changedPointData.pointId" />
                <div class="form-group">
                    <label for="PointAddDate" class="form-label">建立時間</label>
	                <p class="fs-5 rounded-pill ps-3">{{changedPointData.pointAddDisplay}}</p>
                </div>
                <div class="form-group">
                    <label for="PointCaseId" class="form-label">交易卡片標題</label>
                    <p class="fs-5 rounded-pill ps-3">{{pointCaseData.title}}</p>
                </div>
            @*啟用編輯的區域*@
            <div id="editSec">
                <div class="form-group has-validation">
                    <label for="PointUserId" class="form-label">點數變更的使用者</label>
                    <select name="PointUserId" v-bind:value="changedPointData.pointUserId" class="form-select">
                        <option disabled>---(編號代表使用者未填其名稱)---</option>
                        <option v-for="item in selectUserList" :value="item.userId">{{item.userFullName}}</option>
                    </select>
                    <div class="invalid-feedback">請選擇有效的使用者名稱</div>
                </div>
                <div class="form-group has-validation">
                    <label for="PointNeedHelp" class="form-label">使用者角色</label>
                    <select name="PointNeedHelp" v-bind:value="changedPointData.pointNeedHelp" class="form-select" aria-label="Default select example">
                        <option v-for="item in selectNeedList" v-bind:value="item.bool">{{item.text}}</option>
                    </select>
                    <div class="invalid-feedback">請選擇有效的類型</div>
                </div>
                <div class="form-group has-validation">
                    <label for="PointQuantity" class="form-label">交易點數</label>
                    <input type="number" name="PointQuantity" min="-1000" max="1000" class="form-control rounded-pill ps-3"
                           :value="changedPointData.pointQuantity"/>
                    <div class="invalid-feedback">
                        不是可用的數值範圍
                    </div>
                </div>
            </div>
            @* 按鈕列 *@
            <div class="row justify-content-evenly pt-3">
                <button type="button" v-on:click="fetchOrigin" class="btn btn-backtolist col-3">重設</button>
                <button type="submit" id="prevent" class="btn btn-backtolist col-3">提交</button>
                <a href="~/Admin/Points/Index" class="btn btn-backtolist col-5">返回總覽</a>
            </div>
        </form>
    </div>
</div>


<script>    
    //將資料帶入 js
    var Id = @id;
    var cId = @caseId;
    console.log("id=", Id);
    console.log("cid=", cId);
    //Vue 物件
    var vm = new Vue({
        el: '#vmEle',
        data: {
            changedPointData: [],
            selectUserList: [],
            pointCaseData: [],
            selectNeedList: [
                { bool: false, text: "提供" },
                { bool: true, text: "幫助" },
            ],
        },
        methods: {
            fetchOrigin: function() {
                vm.$forceUpdate();
            },
        },
        mounted: function() {
            var self = this;
            fetch(`/Admin/Points/getPointDetail/${Id}`)
                .then(function(res) { return res.json() })
                .then(function(json) {
                    console.log("points =", json);
                    self.changedPointData = json;
                });
            fetch(`/api/ApiUser/getUserName`)
                .then(function(res) { return res.json() })
                .then(function(json) {
                    console.log("user =", json);
                    self.selectUserList = json;
                });
            fetch(`/Admin/Cases/getTitle/${cId}`)
                .then(function(res) { return res.json() })
                .then(function(json) {
                    console.log("title =", json);
                    self.pointCaseData = json;
                });
        },
    });
</script>

@section Scripts {
<script>
    //參數宣告
    var inp = $('#editSec input');
    var sel = $('#editSec select');
    var textArea = $('#editSec textarea');
    var sp = $('#editText');
    var bool = true;
    const forms = document.querySelectorAll('.needs-validation');

    //函式宣告
    $.fn.eleReadonly = function () {
        var ele = this;
        ele.prop('readonly', 'true');
        ele.removeClass('form-control');
        ele.addClass('form-control-plaintext fs-6 bg-light');
    }
    $.fn.eleDisabled = function () {
        var ele = this;
        ele.prop('disabled', 'true');
        ele.removeClass('form-control');
        ele.addClass('form-control-plaintext fs-6 bg-light');
    }
    $.fn.eleEditable = function () {
        var ele = this;
        ele.removeAttr('readonly');
        ele.removeAttr('disabled');
        ele.removeClass('form-control-plaintext fs-6 bg-light');
        ele.addClass('form-control');
    }
    function eleReadable() {
        inp.eleReadonly();
        sel.eleDisabled();
        textArea.eleReadonly();
    }
    //element 預設為閱讀狀態
    eleReadable();
    vm.$forceUpdate();

    //註冊事件
    $("#editBtn").on("click",modeSwitch);

    //按鈕事件處理
    function modeSwitch() {
        if (bool) {
            inp.eleEditable();
            sel.eleEditable();
            textArea.eleEditable();
            sp.text("編輯");
            sp.removeClass('bg-royalblue');
            sp.addClass('bg-lightyellow');
            bool = false;
        }
        else {
            eleReadable();
            sp.text("閱讀");
            sp.removeClass('bg-lightyellow');
            sp.addClass('bg-royalblue');
            bool = true;
        }
    }

    // validation 處理
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated')
        }, false)
    });
</script>
}
