<div class="card mb-4" id="userDetails">
    <div class="card-body p-4">
        <div class="row m-auto">
            <div class="col-sm-3">
                <h6 class="mb-0">性別</h6>
            </div>
            <div class="col-sm-9">
                <label class="text-muted mb-0">{{user.userSex}}  </label>
            </div>
        </div>
        <hr>
        <div class="row m-auto">
            <div class="col-sm-3">
                <h6 class="mb-0">電子信箱</h6>
            </div>
            <div class="col-sm-9">
                <label class="text-muted mb-0">{{user.userEmail}} </label>
            </div>
        </div>

        <hr>
        <div class="row m-auto">
            <div class="col-sm-3">
                <h6 class="mb-0">生日</h6>
            </div>
            <div class="col-sm-9">
                <label class="text-muted mb-0">{{user.userBirthday}} </label>
            </div>
        </div>

        <hr>
        <div class="row m-auto">
            <div class="col-sm-3">
                <h6 class="mb-0">居住地</h6>
            </div>
            <div class="col-sm-9">
                <label class="text-muted mb-0">{{user.userArea}} </label>
            </div>
        </div>

        <hr>
        <div class="row m-auto">
            <div class="col-sm-3">
                <h6 class="mb-0">工作經歷</h6>
            </div>
            <div class="col-sm-9">
                <label class="text-muted mb-0">{{user.userResume}} </label>
            </div>
        </div>
        <hr>

        <div class="row m-auto">
            <div class="col-sm-3">
                <h6 class="mb-0">個人簡介</h6>
            </div>
            <div class="col-sm-9">
                <label class="text-muted mb-0">{{user.userCv}}</label>
            </div>
        </div>
    </div>
</div>
