<div class="container mt-5 m-auto w-50">
    <div id="payResult">
        <div class="list-group">

            <div class="list-group-item">
                <div class="text-center m-2">
                    <i class="fa-regular fa-circle-xmark m-2" style="font-size:50px;"></i>
                    <h4 class="fw-500 mb-0">交易失敗</h4>
                </div>
            </div>

            <div id="orderInfo" class="list-group-item p-3">
                <ul>
                    <li class="mb-4 mt-4 text-center">
                        <p class="m-0">信用卡異常或交易發生錯誤，請重新操作或聯絡發卡銀行。</p>
                    </li>
                </ul>
            </div>

            <div class="list-group-item">
                <div class="text-center m-2">
                    <a class="btn btn-primary text-white me-2" href="/Home/Index?open=pay">
                        重新購買
                    </a>
                    <a class="btn btn-primary text-white ms-2" href="/Home/Index">
                        返回首頁
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>