<div class="container mt-5 m-auto w-50">
    <div id="payResult">
        <div class="list-group">

            <div class="list-group-item">
                <div class="text-center m-2">
                    <i class="fa-regular fa-circle-check m-2" style="font-size:50px;"></i>
                    <h4 class="fw-500 mb-0">交易成功</h4>
                    <span class="fw-300 fs-16" id="point"></span>
                </div>
            </div>

            <div id="orderInfo" class="list-group-item p-3">
                <ul>
                    <li class="mb-2">
                        <p class="m-0 fw-500 fs-16">訂單編號</p>
                        <span class="fw-300" id="order"></span>
                    </li>
                    <li class="mb-2">
                        <p class="m-0 fw-500 fs-16">購買時間</p>
                        <span class="fw-300" id="time"></span>
                    </li>
                    <li>
                        <p class="m-0 fw-500 fs-16">付款方式</p>
                        <span class="fw-300">信用卡一次付清</span>
                    </li>
                </ul>
            </div>

            <div class="list-group-item">
                <div class="text-center m-2">
                    <a class="btn btn-primary text-white" href="/Home/Index">
                        返回首頁
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
function getStatus() 
{
    fetch("/NewebPay/payStatus")
        .then(function(res) { return res.json(); })
        .then(function(result) {
           document.getElementById("time").innerText = result.payTime;
           document.getElementById("order").innerText = result.spgOrder;
           document.getElementById("point").innerText = `購買${result.amt}點`;
        });
}
$(document).ready(function() {
    getStatus();
});
</script>