
<section id="CaseList">
    <div class="container">
        <div class="row" id="card">
            <div class="type col-8">
                <button type="button" class="butn help">我的需求</button>
                <button type="button" class="butn skill">我的技能</button>
            </div>
            <div class="col m-auto">
                <button type="button" class="butn"><strong>+</strong> 新增技能貼文</button>
            </div>
        </div>
    </div>
    <hr class="my-4">

    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-3 ">
            <div class="col">
                <div class="card mb-2 w-100 w-100">
                    <div class="imgBx">
                        <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2"
                             alt="圖片">
                    </div>
                    <span>CaseSkilId</span>
                    <div class="card-body">
                        <h5 class="card-title">CaseTitle</h5>
                        <p class="card-text mt-1">CaseIntroduction</p>
                        <div class="d-flex  justify-content-center">
                            <a class="btn">留言</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-2 w-100">
                    <div class="imgBx">
                        <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2"
                             alt="圖片">
                    </div>
                    <span>CaseSkilId</span>
                    <div class="card-body">
                        <h5 class="card-title">CaseTitle</h5>
                        <p class="card-text mt-1">CaseIntroduction</p>

                        <div class="d-flex  justify-content-center">
                            <a class="btn">留言</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-2 w-100">
                    <div class="imgBx">
                        <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2"
                             alt="圖片">
                    </div>
                    <span>CaseSkilId</span>
                    <div class="card-body">
                        <h5 class="card-title">CaseTitle</h5>
                        <p class="card-text mt-1">CaseIntroduction</p>

                        <div class="d-flex  justify-content-center">
                            <a class="btn">留言</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-2 w-100">
                    <div class="imgBx">
                        <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2"
                             alt="圖片">
                    </div>
                    <span>CaseSkilId</span>
                    <div class="card-body">
                        <h5 class="card-title">CaseTitle</h5>
                        <p class="card-text mt-1">CaseIntroduction</p>

                        <div class="d-flex  justify-content-center">
                            <a class="btn">留言</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>