<section id="caseList">
    <div class="container mb-3 fs-18">
        <div class="row justify-content-evenly align-items-center text-nowrap">
            <div class="col-md-8 col-sm-12">
                <button type="button" class="mainBtn" v-on:click="getPoseCaseForm"><i class="fa-solid fa-square-plus"></i> 新增貼文 </button>
            </div>

            <div class="col-md-4">
                <button type="button" class="btnSortCase active" id="allCase" v-on:click="getAllModel">全部貼文</button>
                <span>/</span>
                <button type="button" class="btnSortCase" v-on:click="needOrSkillModel" data-bit=true>需求</button>
                <span>/</span>
                <button type="button" class="btnSortCase" v-on:click="needOrSkillModel" data-bit=false>技能</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3">
            <div class="col" v-for="item in caseViewModel">
                <div class="card mb-3 w-100">
                    <div class="imgBx">
                        <div class="card-tag">
                            <span class="case-type">
                                <i class="fa-solid fa-square-h" v-if="item.CaseNeedHelp"></i>
                                <i class="fa-solid fa-square-poll-horizontal" v-else></i> {{item.CaseSkillName}}
                            </span>
                        </div>
                        <div class="d-flex w-100 justify-content-center" id="card-info">
                                <div class="card-info">
                                    <div class="me-2">
                                        <i class="fa-solid fa-location-dot"></i> {{item.CaseSerAreaName}}
                                    </div>
                                    
                                    <div>
                                        <i class="fa-solid fa-comment-dots"></i> {{item.MessageCount}}
                                    </div>
                                </div>
                            </div>
                        <img v-bind:src="item.CasePhoto" class="card-img-top p-2" alt="image not found">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{item.CaseTitle}}</h5>
                        <p class="card-text mt-1 fw-300">{{item.CaseIntroduction}}</p>
                        <hr />
                        <div class="container mt-3 p-0">
                            <div class="row">
                                <div class="col-md-8 col">
                                    <div class="col-6 text-start align-items-center userInfo">
                                        <p class="infoTitle" style="font-weight:300;overflow: visible;" v-if="item.IsCaseExpire"><i class="fa-solid fa-square-check"></i> 已過期</p>
                                        <p class="infoTitle" style="font-weight:300;overflow: visible;" v-else><i class="fa-regular fa-calendar-check"></i> 活動中</p>
                                        <p class="infoText">{{item.CaseReleaseDate | showDate}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center p-0">
                                    <a class="btn text-nowrap" v-bind:href="'/PostPage/Index/'+item.CaseId">詳細</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
