<section id="caseList">
    <div class="container mb-3">
        <div class="row justify-content-evenly">
            <div class="col-md-8 col-sm-12">
                <button type="button" class="btnSortCase btnPost" v-on:click="getPoseCaseForm"><strong><i class="fa-solid fa-square-plus"></i> 新增貼文</strong> </button>
            </div>

            <div class="col-md-4 text-nowrap">
                <button type="button" class="btnSortCase active" v-on:click="getAllModel">全部貼文</button>
                <span>/</span>
                <button type="button" class="btnSortCase" v-on:click="needOrSkillModel" data-bit=true>需求</button>
                <span>/</span>
                <button type="button" class="btnSortCase" v-on:click="needOrSkillModel" data-bit=false>技能</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-3">
            <div class="col" v-for="item in caseViewModel">
                <div class="card mb-2 w-100">
                    <div class="imgBx">
                        <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2" alt="圖片">
                    </div>
                    <span>{{item.CaseSkillName}}</span>
                    <div class="card-body">
                        <h5 class="card-title">{{item.CaseTitle}}</h5>
                        <p class="card-text mt-1">{{item.CaseIntroduction}}</p>
                        <div class="d-flex  justify-content-center">
                            <a class="btn" :data-caseid="item.CaseId" v-on:click="redirectToCasePage">詳細內容</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
