@model IEnumerable<Case>
@foreach (var item in Model)
{
    <div class="col">
        <div class="card  mb-2 w-100">
            <div class="imgBx">
                <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2" alt="圖片">
            </div>
            <span name="caseSkillId" data-skillid="@item.CaseSkilId"></span>
            
            <div class="card-body">
                <h5 class="card-title" id="CaseTitle">@item.CaseTitle</h5>
                <div style="height:50px;"><p class="card-text mt-1">@item.CaseIntroduction</p></div>
                <div class="d-flex  justify-content-center">
                    <a class="btn">留言</a>
                </div>
            </div>
        </div>
    </div>
}