@model IEnumerable<Case>

@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
}

    @section ScriptsReady{
    <script>
        $(document).ready(function() {
            //初始化卡片
            $.ajax({
                url: "/Home/InitCaseModel",
                type: "GET"

            }).done(function(res) {
                $("#ajaxSection").html(res);
                GetSkillName();
            }).
                fail(function(res) {
                    console.log(res);
                });
        });



    </script>
}



    <div class="wrap" id="home">
        <div class="home">
            <div class="typeBar">

                <button type="button" class="butn help" name="type" data-bit=true>需要幫忙</button>
                <button type="button" class="butn skill" name="type" data-bit=false>提供技能</button>

            </div>
            <div class="tagBar">
                <div class="tags">
                    @{
                    foreach (var item in (List<Skill>)ViewBag.Tags)
                    {
                        <div class="tagName" name="tagName" data-skillid="@item.SkillId"><span>@item.SkillName</span></div>
                    }
                }
            </div>
            <div class="sort">
                <span>排序：</span>
                <select class="sortSelect">
                    <option value="">發佈時間</option>
                    <option value="">留言數</option>
                    <option value="">期限</option>
                </select>
                <div class="icon">
                    <i class="fa-solid fa-arrow-down-short-wide"></i>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4" id="ajaxSection">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //點選排序icon時切換圖示
        let iconSort = document.querySelector('.tagBar .sort .icon i');

        iconSort.addEventListener('click', function() {
            iconSort.classList.toggle('fa-arrow-down-short-wide');
            iconSort.classList.toggle('fa-arrow-up-short-wide');
        });

        //點選技能或需求時更換模型
        var types = document.getElementsByName("type");
        types.forEach(
            x => x.addEventListener("click", function() {
                var bit = x.dataset.bit;
                console.log(bit);
                $.ajax({
                    url: "/Home/GetTypeModel",
                    type: "GET",
                    data: {
                        bit: bit
                    }

                }).done(function(res) {
                    $("#ajaxSection").html(res);
                    GetSkillName();
                }).
                    fail(function(res) {
                        console.log(res);
                    });
            }));

        //點選技能分類標籤時更換模型
        var tags = document.getElementsByName("tagName");
        tags.forEach(
            x => x.addEventListener("click", function() {
                var skillId = parseInt(x.dataset.skillid);
                $.ajax({
                    url: "/Home/GetTagModel",
                    type: "GET",
                    data: {
                        SkillId: skillId
                    }

                }).done(function(res) {
                    $("#ajaxSection").html(res);
                    GetSkillName();
                }).
                    fail(function(res) {
                        console.log(res);
                    });
            }));




    </script>
}
