@{
    ViewData["Title"] = "Home Page";
}
@{
    //初始化Case
    var dataString = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
    var tagString = Newtonsoft.Json.JsonConvert.SerializeObject((List<Skill>)ViewBag.Tags);
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
}


    <div class="wrap" id="home">
        <div id="searchLabel">
            <div id="areaLabel">
                @if (@ViewBag.Area != null)
            {
                <span class="searchLabel">@ViewBag.Area<button class="searchLabelClose">x</button></span>
            }
        </div>
        <div id="typeLabel"></div>
        <div id="tagLabel"></div>

    </div>
    <div class="home">
        <div class="typeBar">
            <button type="button" class="butn help" name="type" data-bit=true v-on:click="getTypeModel">需要幫忙</button>
            <button type="button" class="butn skill" name="type" data-bit=false v-on:click="getTypeModel">提供技能</button>
        </div>

        <div class="tagBar">
            <div class="tags">
                <span class="tagName" v-for="item in tags" v-on:click="getTagModel" v-bind:data-skillid="item.SkillId">{{item.SkillName}}</span>
            </div>

            <div class="sort">
                <span>排序：</span>
                <select class="sortSelect" id="sortModel">
                    <option>發佈時間</option>
                    <option>留言數</option>
                    <option>期限</option>
                </select>
                <div class="icon">
                    <i class="fa-solid fa-arrow-down-short-wide"></i>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
                <div class="col" v-for="item in caseViewModel">
                    <div class="card  mb-2 w-100">
                        <div class="imgBx">
                            <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2" alt="圖片">
                        </div>
                        <span>{{item.CaseSkillName}}</span>

                        <div class="card-body">
                            <h5 class="card-title">{{item.CaseTitle}}</h5>
                            <div style="height:50px;"><p class="card-text mt-1">{{item.CaseIntroduction}}</p></div>
                            <div class="d-flex  justify-content-center">
                                <a class="btn" :data-caseid="item.CaseId">留言</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>
        //初始化標籤綁定監聽事件
        //var closeLabels = document.querySelectorAll(".searchLabelClose");
        //closeLabels.forEach(x => x.addEventListener("click", closeLabel()));

        var caseModel = @Html.Raw(dataString);
        var tags = @Html.Raw(tagString);
console.log(tags);
        //Vue
        var vmIndex = new Vue({
            el: "#home",
            data: {
                caseViewModel: caseModel,
                caseResModel: caseModel,
                tags:tags
            },
            methods: {
                //建立篩選標籤到畫面
                appendSortLabel: function(posId, txt) {
                    posId.innerHTML = "";
                    //posId.innerHTML =
                    //    `<span class='searchLabel'>${txt}<button class='searchLabelClose'>x</button></span>`;
                    var span = document.createElement("span");
                    span.classList.add("searchLabel");
                    span.innerText = txt;
                    var button = document.createElement("button");
                    button.classList.add("searchLabelClose");
                    button.addEventListener("click", vmIndex.closeLabel);
                    button.innerText = "x";
                    span.append(button);
                    posId.append(span);
                },
                closeLabel: function(e) {
                    var parentDiv = e.target.parentElement.parentElement;
                    parentDiv.innerHTML = "";
                },
                filterTypeModel: function(b) {
                    return vmIndex.caseResModel.filter(x => x.CaseNeedHelp == b);
                },
                //依需求或技能拿模型
                getTypeModel: function(e) {
                    var bitString = e.target.dataset.bit;
                    var bit = bitString == "true" ? true : false;
                    vmIndex.appendSortLabel(typeLabel, e.target.innerText);
                    vmIndex.caseViewModel = vmIndex.filterTypeModel(bit);
                },
                filterTagModel: function(n) {
                    return vmIndex.caseResModel.filter(x => x.CaseSkillId == n);
                },
                //依技能分類拿模型
                getTagModel: function(e) {
                    var skillid = e.target.dataset.skillid;
                    vmIndex.appendSortLabel(tagLabel, e.target.innerText);
                    vmIndex.caseViewModel = vmIndex.filterTagModel(skillid);
                },

            },
            created() {
            },


        });


        //點選排序icon時切換圖示
        let iconSort = document.querySelector('.tagBar .sort .icon i');

        iconSort.addEventListener('click', function() {
            iconSort.classList.toggle('fa-arrow-down-short-wide');
            iconSort.classList.toggle('fa-arrow-up-short-wide');
        });



    </script>

}