<div class="container cn offset-3 col-6 " id="member">
    <div class="col-12">
        <h4 class="postTitle mb-2">會員資料</h4>
    </div>
    <form id="updateForm" class=" mt-3" onsubmit="return false" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 mt-3">
            <img id="pic" v-bind:src = "imgSrc">
        </div>
        <div class="col-md-6 mt-5">
            <label for="UserPhoto" class="form-label">更改頭像</label>
            <input type="file" class="form-control" id="UserPhoto" name="UserPhoto" onchange="previewPic(this)"
                   accept="image/*">
        </div>
        @*<a href='https://www.freepik.com/vectors/user-avatar'>User avatar vector created by pikisuperstar - www.freepik.com</a>*@
    </div>
        <div class="row pt-3">
            <div class="col-md-6 mt-3">
                <label for="UserFname" class="form-label">姓</label>
                <input type="text" class="form-control" id="UserFname"  v-model="UserModel.userFname">
            </div>
            <div class="col-md-6 mt-3">
                <label for="UserLname" class="form-label">名</label>
                <input type="text" class="form-control" id="UserLname"  v-model="UserModel.userLname">
            </div>
            <div class="col-4 mt-3">
                <label for="UserNname" class="form-label">暱稱</label>
                <input type="text" class="form-control" id="UserNname"  v-model="UserModel.userNname">
            </div>
            <div class="col-4 mt-3">
                <label for="UserSex" class="form-label">性別</label>
                <select class="form-select" id="UserSex" v-model="UserModel.userSex">
                    <option v-for="item in Sex" :value="item.sexId">{{item.sexName}}</option>
                </select>
            </div>
            <div class="col-4 mt-3">
                <label for="UserSkillId" class="form-label">技能</label>
                <select class="form-select" id="UserSkillId"  v-model="UserModel.userSkillId">
                    <option v-for="(item,index) in SkillModel" name="UserSkillOption" :value="item.skillId">{{item.skillName}}</option>
                </select>
            </div>
            <div class="col-md-6 mt-3">
                <label for="UserEmail" class="form-label">信箱</label>
                <input type="text" class="form-control" id="UserEmail" readonly v-model="UserModel.userEmail">
            </div>
            <div class="col-md-6 mt-3">
                <label for="UserBirthday" class="form-label">生日</label>
                <input type="date" class="form-control" id="UserBirthday" v-model="UserModel.userBirthday">
            </div>
            <hr class="mt-5">

            <div class="col-md-6 mb-2">
                <label for="City" class="form-label">縣市</label>
                <select class="form-select" id="City" required v-on:change="GetTown" v-model="UserModel.userAreaId.areaCity">
                    <option v-for="item in City" :value="item">{{item}}</option>
                </select>
            </div>

            <div class="col-md-6 mb-2">
                <label for="Town" class="form-label">鄉鎮區</label>
                <select class="form-select" id="Town"  v-model="UserModel.userAreaId.areaTown">
                    <option v-if="show" v-for="item in TempTown" :value="item">{{item}}</option>
                    <option v-if="show2" v-for="item in Town" :value="item">{{item}}</option>
                </select>
            </div>

            <div class="col-12 mt-3">
                <label for="UserSchool" class="form-label">學歷</label>
                <input type="text" class="form-control" id="UserSchool" v-model="UserModel.userSchool">
            </div>

            <div class="col-12 mt-3">
                <label for="UserResume" class="form-label">工作經歷</label>
                <input type="text" class="form-control" id="UserResume" v-model="UserModel.userResume">
            </div>


            <div class="col-12 mb-3 mt-3">
                <label for="UserCv" class="form-label">關於我</label>
                <textarea class="form-control" id="UserCv" cols="30" rows="5"  v-model="UserModel.userCv"></textarea>
            </div>
        </div>
        <div class="col-12 text-center">
            <button class="postBtn w-25 mt-4" v-on:click="UpdateMemberInfo">更改</button>
        </div>
    </form>
</div>
<style>
    .cn {
        position: relative;
        border-radius: 5px;
        padding: 10px 40px 30px;
        background: var(--white);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
    }

    .postTitle {
        font-weight: 700;
    }

    .postBtn {
        border: 0px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 18px;
        background: var(--help);
        font-weight: 700;
    }

        .postBtn:hover {
            background: var(--help1);
        }

    h6 {
        font-weight: 700;
    }

    h4::before {
        content: '';
        padding-right: 10px;
        border-left: 5px solid var(--skill);
    }
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var vm = new Vue({
        el: "#member",
        data:
        {
            UserModel: [],
            SkillModel: [],
            City: [],
            Town: [],
            show: true,
            show2: false,
            TempTown: [],
            Sex:[],
            imgSrc:"",
        },
        methods:
        {
            GetTown: function(e) {
                var self = this;
                var SelectedCity = e.target.value;
                fetch(`/Nav/_LayoutApi/GetAreaTown?AreaCity=${SelectedCity}`)
                    .then(function(res) { return res.json(); })
                    .then(function(result) {
                        self.Town = result;
                        self.show = false;
                        self.show2 = true;
                    });
            },
            UpdateMemberInfo: function() {              
                var updateForm = $("form")[1];
                var formData = new FormData(updateForm);
                formData.append("UserFname", this.UserModel.userFname);
                formData.append("UserLname", this.UserModel.userLname);
                formData.append("UserNname", this.UserModel.userNname);
                formData.append("UserSex", this.UserModel.userSex);
                formData.append("UserSkillId", this.UserModel.userSkillId);
                formData.append("UserBirthday", this.UserModel.userBirthday);
                formData.append("City", this.UserModel.userAreaId.areaCity);
                formData.append("Town", this.UserModel.userAreaId.areaTown);
                formData.append("UserSchool", this.UserModel.userSchool);
                formData.append("UserResume", this.UserModel.userResume);
                formData.append("UserCv", this.UserModel.userCv);
                formData.append("UserPhoto", document.getElementById("UserPhoto").files[0]);
                formData.append("blob", this.blob);
                $.ajax({
                    url: "/UserLogin/UpdateMember",
                    type: "POST",
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                }).done(function(res) {
                    if (res == "地區有誤") {
                        alert("請重新選擇鄉鎮區");
                    }
                    else 
                    {
                    swal("修改成功!","", "success", {button:false, timer: 2000})
                    .then((value) => {
                        location.href="/Home/ProfilePageAjax?page=myProfile"
                    });
                    }
                    
                })
                    .fail(function(res) {
                        console.log("err = ",res);
                    });

            }
        },
        mounted: function() {
            var self = this;
            fetch(`/api/Users1Controller/getUserInfo`)
                .then(function(res) {
                    return res.json();
                }).then(function(result) {
                    self.UserModel = result;
                    self.imgSrc = result.userHphoto;
                });
            fetch(`/api/Users1Controller/getSkillInfo`)
                .then(function(res) {
                    return res.json();
                }).then(function(result) {
                    self.SkillModel = result;
                });
            fetch(`/Nav/_LayoutApi/GetAreaCity`)
                .then(function(res) {
                    return res.json();
                }).then(function(result) {
                    self.City = result;
                });
            fetch("/api/Users1Controller/getTempTown")
                .then(function(res) {
                    return res.json();
                }).then(function(result) {
                    self.TempTown = result;
                });
            fetch("/api/Users1Controller/getSex")
                .then(function(res) {
                    return res.json();
                }).then(function(result) {
                    self.Sex = result;
                });
        },
    });
var compressRatio = 0.8, // 圖片壓縮比例
        imgNewWidth = 300, // 圖片新寬度
        img = new Image(),
        canvas = document.createElement("canvas"),
        context = canvas.getContext("2d"),
        file, fileReader, dataUrl,newImg;

    function previewPic(e) {
        maxSize_2MB = 2 * 1024 * 1024;
        if (e.files[0].size > maxSize_2MB) {
            alert('圖片大小超過2MB！無法上傳');
            e.value = "";
        }
        else {
            file = e.files[0];
            // 圖片才處理
            fileReader = new FileReader();
            fileReader.onload = getFileInfo;
            fileReader.readAsDataURL(file);
        }
    }

    function getFileInfo(evt) {
        dataUrl = evt.target.result,

            // 取得圖片
            img.src = dataUrl;
        console.log(dataUrl);
    }

    // 圖片載入後
    img.onload = function() {
        var width = this.width, // 圖片原始寬度
            height = this.height, // 圖片原始高度
            imgNewHeight = imgNewWidth * height / width; // 圖片新高度
            
        canvas.width = imgNewWidth;
        canvas.height = imgNewHeight;
        context.clearRect(0, 0, imgNewWidth, imgNewHeight);
        context.drawImage(img, 0, 0, imgNewWidth, imgNewHeight);
        newImg = canvas.toDataURL("image/jpeg", compressRatio);
        pic.src = newImg;
        canvas.toBlob(function(blob) {             
            console.log("blob",blob);
            vm.blob = blob;
}, "image/jpeg", compressRatio);

    };
</script>