<section id="changePwd">
    <div class="container" >
        <div class="row">
           <form method="post" action="/UserLogin/changePassword">
            <div class="offset-2 col-8">
                <label name="Password" class="control-label">密碼</label>
                <input name="Password" class="form-control" />
            </div>
            <div class="offset-5 col-4 mt-4">
                <input type="submit" value="更改密碼" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>

</section>
