  <div id="VuePage" class="mt-5">
    <div class="offset-2 col-8">
        <div class=" cn mb-5">
            <form id="form" onsubmit="return false">
                <div class="row pt-3">
                    <div class="col-12">
                        <h4 class="postTitle mb-2">忘記密碼</h4>
                    </div>
                    
    
                    <div class="col-12 mb-3">
                        <label for="LoginName" class="form-label">帳號</label>
                        <input type="text" class="form-control"
                               id="LoginName" name="LoginName" v-model="UserID" placeholder="">
                        <div class="invalid-feedback">
                            <div id="Accerrormsg"></div>
                        </div>
                    </div>
    
                    <div class="col-12 text-center">
                        <button class="postBtn w-25 mt-4" type="submit" v-on:click="SendMailToken">送出</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
  </div>

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
var VuePage = new Vue({
    el: '#VuePage'
    , data:
    {
        UserID:"",
    }
    , methods:
    {
        SendMailToken: function() 
        {
            var self = this;
            fetch(`/api/Confirm/SendMailToken?id=${self.UserID}`)
            .then(function (response) {
                console.log("response = ",response);
                return response.json();
            })
            .then(function (res) {
                console.log("res = ",res);
                if (res.message != null) { document.getElementById("LoginName").setAttribute("class", "form-control is-invalid"); $('#Accerrormsg').text(res.message); }
                else { self.success(); document.getElementById("LoginName").setAttribute("class", "form-control is-valid"); $("#LoginName").value = ""; }
            });

        },
        success:function()
                {
                    swal("已成功發信", "請至您註冊的信箱點擊密碼變更信", "success", {button: "確認", timer: 3000})
                    .then((value) => {});
                }
    }
});
    </script>
}
@section Styles
{
    <style>
        .cn {
        position: relative;
        border-radius: 5px;
        padding: 10px 40px 30px;
        background: var(--white);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
    }
    .postTitle {
        font-weight: 700;
    }
    .postBtn {
        border: 0px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 18px;
        background: var(--help);
        font-weight: 700;
    }
    .postBtn:hover {
            background: var(--help1);
        }
        h6 {
        font-weight: 700;
    }
    h4::before {
            content: '';
            padding-right: 10px;
            border-left: 5px solid var(--skill);
        }
</style>
}