@{
    ViewData["Title"] = "forgetPassword";
}
<div id="VuePage">
    <div class="container">
        <div class="row offset-3 col-6">
            <form>
                <div class="form-group">
                <label>帳號</label>
                <input type="text" class="form-control" v-model="UserID">
                </div>
                <div class="form-group">
                    </br>
                <button type="button" class="btn btn-primary col-6 offset-3" v-on:click="SendMailToken" data-bs-toggle="modal" data-bs-target="#exampleModal">寄送驗證碼</button>
                </div>
            </form>
        </div>
    </div>
 </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">變更密碼</h5>
      </div>
      <div class="modal-body">
                <div id="errormsg"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
var VuePage = new Vue({
    el: '#VuePage'
    , data:
    {
        UserID:"",
    }
    , methods:
    {
        SendMailToken: function() 
        {
            var self = this;
            fetch(`/api/Confirm/SendMailToken?id=${self.UserID}`)
            .then(function (response) {
                console.log("response = ",response);
                return response.json();
            })
            .then(function (res) {
                console.log("res = ",res);
                $('#errormsg').text(res.message);
            });

        }
    }
});
    </script>
}