
<div class="container">
    <div class="offset-2 col-8">
        <div id="homeContent" class="container cn mb-5">
            <form id="form" action="/UserLogin/Login" method="post" onsubmit="return false" class="">
                <div class="row pt-3">
                    <div class="col-12">
                        <h4 class="postTitle mb-2">登入帳戶</h4>
                    </div>

                    <div class="col-12 mb-3">
                        <label class="form-label">快速登入</label>
                        <a href="/UserLogin/FacebookLogin" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
</svg>
                Button
              </a>
                    </div>

                    <div class="col-12 mb-3">
                        <label for="LoginName" class="form-label">帳號</label>
                        <input type="text" class="form-control"
                               id="LoginName" name="LoginName" v-model="Account" placeholder="">
                        <div class="invalid-feedback">
                            <div id="Accerrormsg"></div>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <label for="LoginPwd" class="form-label">密碼</label>
                        <input type="password" class="form-control"
                               id="LoginPwd" name="LoginPwd" v-model="Password" placeholder="">
                        <div class="invalid-feedback">
                            <div id="Pwderrormsg"></div>
                        </div>
                    </div>


                    <div class="col-12 text-center">
                        <a asp-controller="UserLogin" asp-action="forgetPassword">忘記密碼</a>
                        <button class="postBtn w-25 mt-4" type="submit" v-on:click="sub">登入</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var vm = new Vue({
            el: "#homeContent",
            data:
            {
                Account: "",
                Password: "",
            },
            methods:
            {
                sub: function() {
                    var self = this;
                    var data =
                    {
                        LoginName: this.Account,
                        LoginPwd: this.Password,
                    };
                    console.log(data);

                    fetch(`/api/Confirm/ConfirmLogin`, {
                        method: 'POST',
                        headers:
                        {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(res) {
                            console.log("m = ", res);
                            if (res.accMessage != null) { document.getElementById("LoginName").setAttribute("class", "form-control is-invalid"); $('#Accerrormsg').text(res.accMessage); }
                            else { document.getElementById("LoginName").setAttribute("class", "form-control is-valid") }
                            if (res.pwdMessage != null) { document.getElementById("LoginPwd").setAttribute("class", "form-control is-invalid"); $('#Pwderrormsg').text(res.pwdMessage); }
                            else { document.getElementById("LoginPwd").setAttribute("class", "form-control is-valid") }
                            if (res.message == null) {
                                $("#form").attr("onsubmit", "retrun true");
                                $("#form").submit();
                                console.log("ok");
                            }
                        })
                        .catch(function(res) {
                            console.log("err = ", res);
                        });
                },
            },
            computed:
            {
            }
        });
    </script>
}
    @section Styles
    {
    <style>
        .cn {
            position: relative;
            border-radius: 5px;
            padding: 10px 40px 30px;
            background: var(--white);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
        }

        .postTitle {
            font-weight: 700;
        }

        .postBtn {
            border: 0px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 18px;
            background: var(--help);
            font-weight: 700;
        }

            .postBtn:hover {
                background: var(--help1);
            }

        h6 {
            font-weight: 700;
        }

        h4::before {
            content: '';
            padding-right: 10px;
            border-left: 5px solid var(--help);
        }
    </style>
}