<section id="message" class="bg-white">
    <div id="mes" class="container">
        <div class="row">
            <ul class="nav nav-tabs bg-white" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="All-tab" data-bs-toggle="tab" data-bs-target="#All-tab-pane" type="button" role="tab" aria-controls="All-tab-pane" aria-selected="true">全部貼文</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="skill-tab" data-bs-toggle="tab" data-bs-target="#skill-tab-pane" type="button" role="tab" aria-controls="skill-tab-pane" aria-selected="true" v-on:click="getHelpyou">提供技能</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="need-tab" data-bs-toggle="tab" data-bs-target="#need-tab-pane" type="button" role="tab" aria-controls="need-tab-pane" aria-selected="true" v-on:click="getHelpme">需要幫忙</a>
                </li>
            </ul>

            <div v-if="showwho" class="accordion accordion-flush" id="caseList" >
                <div class="accordion-item" v-for="(item,index) in helpme":key="index">
                    <h2 class="accordion-header" :id="'h'+index">
                        <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#d' + index" aria-expanded="true" :aria-controls="index" v-on:click="retrunmeid(index)">
                            {{item}}{{index}}
                        </a>
                    </h2>
                    <div :id="'d'+index" class="accordion-collapse collapse" :aria-labelledby="'h'+index" data-bs-parent="#caseList" v-for="mes in helpmessage"  >
                        <div class="accordion-body" >
                            {{mes}}
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="showwho2" class="accordion accordion-flush" id="caseList2" >
                <div class="accordion-item" v-for="(item,index) in helpyou">
                    <h2 class="accordion-header" :id="'h'+index">
                        <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#d' + index" aria-expanded="true" :aria-controls="index" v-on:click="retrunyouid(index)">
                            {{item}}
                        </a>
                    </h2>
                    <div :id="'d'+index" class="accordion-collapse collapse" :aria-labelledby="'h'+index" data-bs-parent="#caseList2" v-for="mes in helpmessage">
                        <div class="accordion-body">
                            {{mes}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    var vm = new Vue({
        el: "#mes",
        data:
        {
            helpme: [],
            helpyou: [],
            helpmecaseid: [],
            helpyoucaseid: [],
            helpmessage: [],
            caseid: "",
            casename: "",
            show: true,
            show2: false
        },
        methods:
        {
            getHelpme: function() {
                let self = this;
                fetch(`/api/Confirm/helpme?id=${@User.Identity.Name}`)
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(res) {
                        console.log("getcase = ", res);
                        self.helpme = res.casetitle;
                        self.helpmecaseid = res.caseid;
                        self.show = true;
                        self.show2 = false;
                        self.helpmessage = [];
                    });
            },
            getHelpyou: function() {
                let self = this;
                fetch(`/api/Confirm/helpyou?id=${@User.Identity.Name}`)
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(res) {
                        console.log("getcase = ", res);
                        self.helpyou = res.casetitle;
                        self.helpyoucaseid = res.caseid;
                        self.show = false;
                        self.show2 = true;
                        self.helpmessage = [];
                    });
            },
            retrunmeid: function(e) {
                let self = this;
                this.caseid = this.helpmecaseid[e];
                this.casename = this.helpme[e];
                fetch(`/api/Confirm/message?id=${self.helpmecaseid[e]}`)
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(res) {
                        console.log("message = ", res);
                        self.helpmessage = res;
                    });
            },
            retrunyouid: function(e) {
                let self = this;
                this.caseid = this.helpyoucaseid[e];
                this.casename = this.helpyou[e];
                fetch(`/api/Confirm/message?id=${self.helpyoucaseid[e]}`)
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(res) {
                        console.log("message = ", res);
                        self.helpmessage = res;
                    });
            }
        },
        computed:
        {
            showwho: function() {
                return this.show;
            },
            showwho2: function() {
                return this.show2;
            }
        },

    });

</script>
