<section id="message">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="bg-white" ">
                    <ul>
                        <li>
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                提供技能
                            </button>
                            <div class="collapse" id="dashboard-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">技能1</a></li>

                                </ul>
                            </div>
                        </li>
                        <li >
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                需要幫忙
                            </button>
                            <div class="collapse" id="orders-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">需求1</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <!-- Left-aligned media object -->
                <div class="media">
                    <div class="media-left">
                        <img src="~/Img/nav/ana3.png" class="media-object" style="width:60px">
                    </div>
                    <div class="media-left">
                        <h4 class="media-heading">Left-aligned</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <hr>

                <!-- Right-aligned media object -->
                <div class="media">
                    <div class="media-right">
                        <h4 class="media-heading">Right-aligned</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="media-right">
                        <img src="~/Img/nav/ana3.png" class="media-object" style="width:60px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
