@*<section id="message" class="bg-white">
    <div id="mes" class="container">
        <div class="row">
            <ul class="nav nav-tabs bg-white" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="All-tab" data-bs-toggle="tab" data-bs-target="#All-tab-pane" type="button" role="tab" aria-controls="All-tab-pane" aria-selected="true">全部貼文</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="skill-tab" data-bs-toggle="tab" data-bs-target="#skill-tab-pane" type="button" role="tab" aria-controls="skill-tab-pane" aria-selected="true" v-on:click="getHelpyou">提供技能</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="need-tab" data-bs-toggle="tab" data-bs-target="#need-tab-pane" type="button" role="tab" aria-controls="need-tab-pane" aria-selected="true" v-on:click="getHelpme">需要幫忙</a>
                </li>
            </ul>

            <div v-if="showwho" class="accordion accordion-flush" id="caseList" >
                <div class="accordion-item" v-for="(item,index) in helpme":key="index">
                    <h2 class="accordion-header" :id="'h'+index">
                        <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#d' + index" aria-expanded="true" :aria-controls="index" v-on:click="retrunmeid(index)">
                            {{item}}{{index}}
                        </a>
                    </h2>
                    <div :id="'d'+index" class="accordion-collapse collapse" :aria-labelledby="'h'+index" data-bs-parent="#caseList" v-for="mes in helpmessage"  >
                        <div class="accordion-body" >
                            {{mes}}
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="showwho2" class="accordion accordion-flush" id="caseList2" >
                <div class="accordion-item" v-for="(item,index) in helpyou">
                    <h2 class="accordion-header" :id="'h'+index">
                        <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#d' + index" aria-expanded="true" :aria-controls="index" v-on:click="retrunyouid(index)">
                            {{item}}
                        </a>
                    </h2>
                    <div :id="'d'+index" class="accordion-collapse collapse" :aria-labelledby="'h'+index" data-bs-parent="#caseList2" v-for="mes in helpmessage">
                        <div class="accordion-body">
                            {{mes}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>*@
<style>
        .cn {
        position: relative;
        border-radius: 5px;
        padding: 10px 40px 30px;
        background: var(--white);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
    }

</style>
<section id="msg">
    <div class="container mb-3 fs-18">
        <div class="row justify-content-evenly align-items-center text-nowrap">
            <div class="col-md-8 col-sm-12">
            </div>

            <div class="col-md-4">
                <a type="button" class="btnSortCase active" id="allCase" v-on:click="GetAllCase">全部貼文</a>
                <span>/</span>
                <a type="button" class="btnSortCase" v-on:click="needOrSkillModel" data-bit=true>需求</a>
                <span>/</span>
                <a type="button" class="btnSortCase" v-on:click="needOrSkillModel" data-bit=false>技能</a>
            </div>
        </div>
        <div class="cn row">
            <div class="accordion accordion-flush" id="caseList">
                <div v-for="item in Case" :key="item.caseid">
                    <div class="accordion-item">
                    <h2 class="accordion-header" :id="'h'+item.caseid">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#d' + item.caseid" aria-expanded="true" :aria-controls="'d'+item.caseid">
                            {{item.casetitle}}
                        </button>
                    </h2>
                    <div :id="'d'+item.caseid" class="accordion-collapse collapse" :aria-labelledby="'h'+item.caseid" data-bs-parent="#caseList">
                        <div class="accordion-body">
                            <div v-for="msg in item.casemsg" >{{msg}}</div>
                        </div>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>

</section>

<script>
    var vm = new Vue({
        el: "#msg",
        data:
        {
            Case: [],
            Case2: [],
        },
        methods:
        {
            GetAllCase: function(e) {
                this.addClickClass(e);
                this.Case = this.Case2;
            },
            needOrSkillModel: function(e) {
                this.addClickClass(e);
                var bit = event.target.dataset.bit;
                if (bit == "true") {
                    this.Case = this.Case2.filter(x => x.casehelp == true);
                }
                else {
                    this.Case = this.Case2.filter(x => x.casehelp == false);
                }
            },
            addClickClass: function(e) {
                var btnSortCase = document.querySelectorAll(".btnSortCase");
                btnSortCase.forEach(x => x.classList.remove("active"));
                e.target.classList.add("active");
            },

        },
        mounted: function() {
            let self = this;
            fetch(`/api/Confirm/AllCase?id=${@User.Identity.Name}`)
                .then(function(response) {
                    return response.json();
                })
                .then(function(res) {
                    console.log("GetAllCase = ", res);
                    self.Case = self.Case2 = res;
                });
        }

    });

</script>
