@model MutualBank.Models.ViewModels.UserRegister
@{
    ViewData["Title"] = "Register";
}

<div class="container row" id="homeContent" style="background-image:">
    <div class="offset-3 col-6">
        <form method="post" action="/UserLogin/Register" onsubmit="return false">
            <div class="form-group">
                <label asp-for="LoginName" class="control-label">帳號</label>
                <input asp-for="LoginName" class="form-control" v-model="Account" />
                <span style="color:red">@ViewBag.message</span>
            </div>
            <div class="form-group">
                <label asp-for="LoginPwd" class="control-label">密碼</label>
                <input asp-for="LoginPwd" class="form-control" v-model="Password" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPwd" class="control-label">確認密碼</label>
                <input asp-for="ConfirmPwd" class="form-control" v-model="ConfirmPwd"/>
            </div>
            <div class="form-group">
                <label asp-for="LoginEmail" class="control-label">註冊信箱</label>
                <input asp-for="LoginEmail" placeholder="例如: XXX@test.com" class="form-control" v-model="Email"/>
            </div>
            <div class="form-group">
                </br>
                <input type="submit" value="註冊" class="btn btn-primary col-6 offset-3" v-on:click="sub"/>
                <div id="errormsg"></div>
            </div>
        </form>
    </div>
    <div class="offset-9 col-3" >
    </div>
</div>
<div class="col-7"></div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vm = new Vue({
    el: "#homeContent",
    data: 
    {
        Account:"",
        Password:"",
        ConfirmPwd:"",
        Email:"",

    },
    methods: 
    {
        //ConfirmAccount:function()
        //{
        //    let self = this;
        //    //ajax=> es fetch
        //    fetch(`/api/Confirm/ConfirmAccount?id=${self.Account}`)
        //    .then(function (response) {
        //        return response.json();
        //    })
        //    .then(function (res) {
        //        console.log("m = ",res);
        //        $('#errormsg').text(res.message);
        //    });
        //},
        sub: function() 
        {
            var data = 
            {
                LoginName: this.Account,
                LoginPwd: this.Password,
                LoginEmail:this.Email,
                ConfirmPwd:this.ConfirmPwd
            }; 
            console.log(data);
            
            fetch(`/api/Confirm/ConfirmAll`, {
                method: 'POST',
                headers:
                {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (res) {
                console.log("m = ",res);
                $('#errormsg').text(res.message);
                if (res.message == null) 
                {
                    $("form").attr("onsubmit", "retrun true");
                    $("form").submit();
                }
            })
            .catch(function(res) {  
                console.log("err = ",res);
            });
        }
    }
});
    </script>
}