@model MutualBank.Models.ViewModels.UserRegister
@{
    ViewData["Title"] = "Register";
}

<div class="col-md-12" id="homeContent">
    <div class="col-md-10">
        <form method="post" action="/UserLogin/Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName" class="form-control" v-on:change.lazy="ConfirmAccount" v-model="Account" />{{result}}
                <span asp-validation-for="LoginName" class="text-danger"></span>
                <span style="color:red">@ViewBag.message</span>
            </div>
            <div class="form-group">
                <label asp-for="LoginPwd" class="control-label"></label>
                <input asp-for="LoginPwd" class="form-control" />
                <span asp-validation-for="LoginPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPwd" class="control-label"></label>
                <input asp-for="ConfirmPwd" class="form-control" />
                <span asp-validation-for="ConfirmPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginEmail" class="control-label"></label>
                <input asp-for="LoginEmail" placeholder="例如: XXX@test.com" class="form-control" />
                <span asp-validation-for="LoginEmail" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="註冊" class="btn btn-primary col-md-6 offset-md-3" />
            </div>
             <br />
        </form>
    </div>
    <div class="col-md-10"></div>
</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vm = new Vue({
    el: "#homeContent",
    data: 
    {
        Account:"",
        result:"",
    },
    methods: 
    {
        ConfirmAccount:function()
        {
            let self = this;
            //ajax=> es fetch
            fetch(`/api/Confirm/ConfirmAccount?id=${self.Account}`)
            .then(function (response) {
                return response.text();
            })
            .then(function (res) {
                console.log("m = ",res);
                self.result = res;
            });
        }
    }
});
    </script>
}