@{
    ViewData["Title"] = "resetPassword";
}
<div id="VuePage">
            <div class="row align-items-center">
                <div class="offset-5 col-6">
                    <h1>重設密碼</h1>
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-6">
                    <div class="form-group">
                        <label>新密碼</label>
                        <input type="password" class="form-control" v-model="newPwd">
                    </div>
                    <div class="form-group">
                        <label>確認新密碼</label>
                        <input type="password" class="form-control" v-model="confirmPwd">
                    </div>
                    <div class="form-group mt-4">
                        <button type="button" class="btn btn-primary offset-3 col-6" v-on:click="DoResetPwd()">重設密碼</button>
                     </div>
                </div>
            </div>          
        </div>
 
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var VuePage = new Vue({
            el: '#VuePage'
            , data:
            {
                newPwd:"",
                confirmPwd:""
            }
            , methods: {
                 // 重設密碼
                 DoResetPwd: function () {
                    var self = this;
                    fetch(`/api/Confirm/DoResetPwd?id=${self.newPwd}`)
                    .then(function (response) {
                    console.log("response = ",response);
                    return response.text();
                     })
                    .then(function (res) {
                    console.log("res = ",res);
                     });
                }
            }
        })
    </script>
}