.mainBtn {
    position: relative;
    margin: 10px 5px 10px 0;
    padding: 13px 18px;
    border-radius: 2px;
    text-align: center;
    border: 0px;
    color: var(--black);
    background: var(--white);
}

    .mainBtn:hover {
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.05);
    }
    .mainBtn.active {
        color: var(--white);
        background: var(--black);
    }
    .mainBtn i {
        pointer-events: none;
    }
    .mainBtn span {
        pointer-events:none;
    }

    .btnSortCase {
        display: inline-block;
        position: relative;
        margin: 10px;
        height: 22px;
        font-weight: 400;
        text-align: center;
        border: 0px;
        transition: 0.3s;
        white-space: nowrap;
        color: var(--black);
        border-bottom: 4px solid transparent;
        cursor: pointer;
    }

    .btnSortCase.active {
        border-bottom: 4px solid var(--help);
    }

.btnSortCase:hover {
    border-bottom: 4px solid var(--help);
}

