#caseList .type {
    position: relative;
}

#caseList .butn {
    position: relative;
    margin: 0 15px 10px 0;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 0px;
    background: var(--white);
    transition: 0.5s;
    white-space: nowrap;
    color: var(--black);
}

#caseList .type .butn.help::before {
    content: '';
    padding-right: 10px;
    border-left: 15px solid var(--help);
}

#caseList .type .butn.help:hover::before {
    border-left: 15px solid var(--help1);
}


#caseList .type .butn.skill::before {
    content: '';
    padding-right: 10px;
    border-left: 15px solid var(--skill);
}

#caseList .type .butn.skill:hover::before {
    border-left: 15px solid var(--skill1);
}
