
#caseList .btnSortCase {
    position: relative;
    margin: 10px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: 0px;
    transition: 0.3s;
    white-space: nowrap;
    color: var(--black);
    border-bottom: 4px solid transparent;
}

#caseList .btnSortCase.active {
    border-bottom: 4px solid var(--help);
}

#caseList .btnSortCase:hover {
    border-bottom: 4px solid var(--help);
}
