:root {
    --white: #fff;
    --black: #222;
    --gray: #808080;
    --help: #FFC54D;
    --help1: #ffb625;
    --skill: #5179cf;
    --skill1: #406ac4;
    --tag: #67dd55;
    --bg: #ececec;
    --bg-saveyellow: #f39412;
    --bg-lightyellow: #ffca5f;
    --bg-light: #d1d1ff;
    --light: #000068;
    --color-252: #696969;
    --color-253: #828282;
    --color-254: #BEBEBE;
    --color-255: #dfdfdf;
    --color-256: #f3f3f3;
    --RoyalBlue: #3f448c;
    --RoyalBlue-2: #8185c5;
    --RoyalBlue-hover: #ebebfd;
    --RoyalBlue-light: #797ec0;
    --velvet: #cdcdf8;
}

.container-cus {
    --height: 100vh;
    width: 100%;
    height: 75vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.header {
    position: sticky;
    top: -1px;
}

/* 根據元素標籤的樣式 */
textarea{
    padding: 1ch;
}

/* Button 樣式 */
.btn-simple {
    background-color: var(--RoyalBlue-hover);
    border-color: var(--RoyalBlue-hover);
    border: solid, 1px;
    border-radius: 1rem;
}

.btn-simple:hover {
    background-color: var(--RoyalBlue);
    border-color: var(--RoyalBlue);
    border: solid, .5px;
    border-radius: 1rem;
}

.btn-lightyellow {
    color: var(--black);
    background-color: var(--bg-lightyellow);
    border-color: var(--bg-lightyellow);
    border-radius: 1rem;
}
.btn-lightyellow:hover {
    color: var(--white);
    background-color: var(--color-253);
    border-color: var(--color-253);
    border-radius: 1rem;
}

.btn-image {
    color: var(--black);
    background-color: var(--bg-lightyellow);
    border-color: var(--bg);
    border: solid, 1px;
    border-radius: 1rem;
}
.btn-image:hover {
    color: var(--black);
    background-color: var(--help1);
    border-color: var(--bg-lightyellow);
    border: solid, .5px;
    border-radius: 1rem;
}

.btn-backtolist {
    color: var(--black);
    background-color: var(--color-254);
    border-color: var(--color-254);
    border-radius: 1rem;
}
.btn-backtolist:hover{
    color: var(--white);
    background-color: var(--color-253);
    border-color: var(--color-253);
    border-radius: 1rem;
}

/* Backgroudcolor 樣式 */
.bg-saveyellow{
    color: var(--white);
    background-color: var(--bg-saveyellow);
}

.bg-lightyellow{
    color: var(--black);
    background-color: var(--bg-lightyellow);
}

.bg-royalblue{
    color: var(--white);
    background-color: var(--RoyalBlue);
}

/* border round 樣式 */
.rounded-10{
    border-radius: 1.5ch;    
}

/* table 樣式 */
/* ======================================= */
/* table-head */
.table-Royal{
    --bs-table-color: #fff;
    --bs-table-bg: var(--RoyalBlue-2);
    --bs-table-border-color: #dfe0e1;
    --bs-table-striped-bg: #ecedee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5e6e7;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
/* table-body */
.table-Royal-font > thead > tr >*{
    font-size: small;
}
.table-Royal-font > tbody > tr >*{
    font-size: small;
}
@media(min-width: 1080px){
    .table-Royal-font > thead > tr >*{
        font-size: medium;
    }
    .table-Royal-font > tbody > tr >*{
        font-size: 15px;
    }
}

.table-Royal-hover > tbody > tr:hover > *{
    --bs-table-accent-bg: var(--RoyalBlue-hover);
    color: var(--bs-table-hover-color);
}

/* table column max/min width */
.table-maxWidth-3{
    max-width: 3rem;
}
.table-minWidth-2{
    min-width: 3rem;
}
.table-minWidth-3{
    min-width: 3.5rem;
}
.table-minWidth-4{
    min-width: 4.5rem;
}
.table-minWidth-5{
    min-width: 5.5rem;
}
.table-wordWrap{
    min-width: 75px;
    max-width: 15vw;
    word-wrap: break-word;
}
@media(min-width:450px){
    .table-wordWrap{
        max-width: 25vw;
    }
}
@media(min-width:810px){
    .table-wordWrap{
        max-width: 33vw;
    }
}
/* svg 樣式 */
/* ====================== */

.feather-cus{
    width: 16px;
    height: 16px;
}
@media(min-width:1080px){
    .feather-cus{
        width: 20px;
        height: 20px;
    }
}
/* 套用在 path 標籤 */
.svg-cus > svg > *{
    fill: var(--light);
}
.svg-cus:hover > svg >*{
    fill: var(--color-256);
}



.aspect-ratio-box {
    background: white;
}

.aspect-ratio-box::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: var(--ratio-box-1);
}

.aspect-ratio-box::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
}