:root {
    --white: #fff;
    --black: #222;
    --gray: #808080;
    --help: #FFC54D;
    --help1: #ffb625;
    --skill: #5179cf;
    --skill1: #406ac4;
    --tag: #67dd55;
    --bg: #ececec;
    --bg-saveyellow: #f39412;
}

.btn-simple {
    background-color: var(--white);
    border-radius: 1rem;
}

.btn-simple:hover {
    background-color: var(--bg);
    border-radius: 1rem;
}


.btn-saveyellow {
    color: var(--white);
    background-color: var(--bg-saveyellow);
    border-color: var(--bg-saveyellow);
    border-radius: 1rem;
}
.btn-saveyellow:hover {
    color: var(--white);
    background-color: #6e6e6e;
    border-color: #6e6e6e;
    border-radius: 1rem;
}

.btn-backtolist {
    color: #fff;
    background-color: #878787;
    border-color: #878787;
}
.btn-backtolist:hover{
    color: #fff;
    background-color: #6e6e6e;
    border-color: #6e6e6e;
}

.aspect-ratio-box {
    background: white;
}

.aspect-ratio-box::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: var(--ratio-box-1);
}

.aspect-ratio-box::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
}