#home .wrap {
    width: 1080px;
    min-height: 100vh;
    margin: auto !important;
    line-height: 1.3;
    overflow: hidden;
}

#home #searchLabel {
    display: flex;
    margin-left: 15px;
}

    #home #searchLabel .searchLabel {
        margin: 5px;
        padding: 5px 10px;
        font-size: 14px;
        color: black;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 2px;
        border: 0;
    }

    #home #searchLabel .searchLabelClose {
        color: gray;
        background: white;
        border-radius: 50%;
        font-weight: 700;
        border: 0px;
        margin: 0 5px;
        cursor: pointer;
    }

        #home #searchLabel .searchLabelClose:hover {
            color: black;
        }

#home .typeBar {
    position: relative;
    margin: 10px 20px 0px;
}



#home .tagBar {
    position: relative;
    display: block;
    margin: 0px 10px 10px;
}


    #home .tagBar .tags {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }


    #home .tagBar .order {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        white-space: nowrap;
    }

    #home .tagBar .order span {
        position: relative;
        left: 20px;
        color: var(--black);
        margin-right: 30px;
        font-size: 18px;
        text-align: right;
        font-weight: 400;
    }

    #home .tagBar .order .icon {
        cursor: pointer;
    }
        #home .tagBar .order .icon i {
            position: relative;
            top: -2.5px;
            font-size: 20px;
            pointer-events: none;
            z-index: 5;
        }

    #home .tagBar .order .orderSelect {
        position: relative;
        right: 10px;
        font-size: 16px;
        text-align: left;
        font-weight: 500;
    }

#home select#orderModel {
    border: 0;
    padding: 1px;
}


/* RWD */
@media (min-width: 768px) and (max-width: 979px) {
    #home .tagBar .tags {
        width: 100%;
    }

    #home .wrap {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #home .tagBar .tags {
        width: 100%;
    }

    #home .wrap {
        width: 100%;
    }
}
