* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    font-family: 'Noto Sans TC', sans-serif;
    /* 預覽框線 */
    /*border: 1px solid;*/
}
.container.fromNav {
    position: relative;
    top: 70px;
}
body {
    background-color: var(--bg);
}

a {
    color: var(--black);
}
.toTop {
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    font-size: 2rem;
}
.toTop i {
    color:var(--black);
}
    .navBar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0 2.5%;
        display: flex;
        justify-content: space-evenly;
        background: var(--white);
        min-height: 70px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
        z-index: 100;
        white-space: nowrap;
    }

    .navBar .topL {
        display: flex;
        margin: auto;
    }

        .navBar .topL .logo {
            position: relative;
            top: 10px;
            width: 50px;
            height: 50px;
        }

            .navBar .topL .logo img {
                object-fit: cover;
                max-width: 160%;
            }

        .navBar .topL .search {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: auto;
            margin-left: 50px;
            width: 70%;
            background: var(--bg);
            border-radius: 8px;
        }

            .navBar .topL .search .region {
                font-size: 16px;
                padding: 5px;
                color: var(--black);
            }

                .navBar .topL .search .region span {
                    position: relative;
                    display: inline-block;
                    margin: 5px 2px;
                    font-weight: 500;
                }

                    .navBar .topL .search .region span i {
                        position: relative;
                        left: 0;
                        top: 2px;
                        font-size: 18px;
                        color: var(--black);
                        z-index: 5;
                    }

                .navBar .topL .search .region .county.active {
                    display: block;
                }

                .navBar .topL .search .region .county {
                    display: none;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-items: center;
                    border-radius: 5px;
                    padding: 15px;
                    position: absolute;
                    left: -5px;
                    top: 40px;
                    width: 400px;
                    height: 340px;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                    .navBar .topL .search .region .county li {
                        position: relative;
                        display: flex;
                        margin: 0 0 10px;
                    }

                    .navBar .topL .search .region .county span {
                        position: relative;
                        height: 26px;
                        margin: 10px 10px;
                        padding: 2px 10px;
                        border-radius: 5px;
                        font-weight: 700;
                        text-align: center;
                        background: var(--help);
                    }

                    .navBar .topL .search .region .county li ul {
                        position: relative;
                        margin: 10px 5px;
                        padding: 5px;
                        top: 28px;
                        left: -40px;
                        font-size: 15px;
                        font-weight: 500;
                        white-space: nowrap;
                    }

                .navBar .topL .search .region .dist.active {
                    display: flex;
                }

                .navBar .topL .search .region .dist {
                    position: absolute;
                    left: 00px;
                    top: 150px;
                    border-radius: 5px;
                    padding: 15px;
                    display: none;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    left: -5px;
                    top: 40px;
                    width: 360px;
                    height: auto;
                    flex-wrap: wrap;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                    .navBar .topL .search .region .dist span {
                        white-space: nowrap;
                        margin: 2px;
                        padding: 5px;
                    }

            .navBar .topL .search input {
                position: relative;
                width: 70%;
                left: 0;
                padding: 0 7px;
                border-radius: 8px;
                font-size: 16px;
                border: 2px solid var(--gray);
            }

            .navBar .topL .search i {
                position: absolute;
                left: 89%;
                top: 23%;
                font-size: 24px;
                color: var(--gray);
                cursor: pointer;
            }

    .navBar .topR {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px 0;
        color: var(--black);
    }

        .navBar .topR .iconMaun {
            display: none;
            pointer-events: none;
        }

        .navBar .topR .barManu li {
            position: relative;
            border-radius: 5px;
            margin-right: 15px;
            padding: 10px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            transition: 0.2s;
            color: var(--black);
        }

            .navBar .topR .barManu li:hover {
                background-color: var(--bg);
            }

        .navBar .topR .barManu ul {
            display: flex;
            margin: auto;
        }

        .navBar .topR .barManu li:first-child span {
            display: none;
        }

.wrap-panel {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    line-height: 1.3;
    overflow: hidden;
    z-index: 99;
    pointer-events: none;
}

.closeToggle {
    transition: 0.5s;
    transition-timing-function: ease-out;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}
    .closeToggle.On {
        pointer-events: auto;
    }
.closeToggle.bgOn {
    pointer-events: auto;
    opacity: 100;
}

.postCard.active {
    opacity: 100;
    top: 0;
    pointer-events: auto;
}
.postCard {
    position: fixed;
    display: block;
    opacity: 0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: auto;
    top: -30px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 240px;
    background: var(--white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
    transition: 1s;
    pointer-events: none;
}

    .postCard i {
        position:absolute;
        right:1.5rem;
        top:1rem;
        font-size:24px;
    }
    .postCard .title {
        line-height: 2;
    }

    .postCard.active .title span {
        top: 0;
        opacity: 1;
        font-size: 38px;
        border-bottom: 6px solid var(--skill);
    }

    .postCard .title span {
        position: relative;
        top: -5px;
        opacity: 0;
        font-size: 30px;
        transition: 0.7s;
        border-bottom: 0 solid var(--black);
    }

    .postCard.active .title p {
        top: 5px;
        opacity: 1;
    }

    .postCard .title p {
        position: relative;
        top: -15px;
        opacity: 0;
        font-size: 18px;
    }

    .postCard .link {
        position: relative;
        margin: auto;
        padding: 0 10px;
        display: flex;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50%;
    }
        .postCard .link .butn {
            position: relative;
            font-size: 24px;
            margin: 10px;
            padding: 15px 12px;
            border-radius: 5px;
            font-weight: 500;
            color: var(--black);
            background: var(--bg);
            columns: var(--black);
            transition: 0.4s;
        }
            .postCard .link .butn:hover {
                background: var(--help);
            }


/* RWD */
@media (max-width: 768px) {
    /*  將橫向導航列，轉為直向，並收到畫面外 */
    .navBar .topR .barManu {
        position: absolute;
        display: block;
        top: -5px;
        right: -100%;
        padding: 20px 10px;
        text-align: left;
        width: 40%;
        height: 100vh;
        background: var(--white);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
        opacity: 0;
        transition: 0.5s;
        transition-timing-function: ease-out;
        z-index: 5;
    }

        .navBar .topR .barManu.active {
            transition: 0.5s;
            display: block;
            right: 0;
            opacity: 1;
            width: 50%;
        }

    .navBar .topR .iconMaun {
        display: block;
        position: fixed;
        right: 20px;
        padding: 5px;
        font-size: 32px;
        border-radius: 5px;
        transition: 0.5s;
        z-index: 100;
        pointer-events: visible;
    }

    .navBar .topR .barManu ul {
        position: relative;
        display: block;
        top: 55px;
        margin: auto;
    }

    .navBar .topR .barManu li:first-child i {
        display: none;
    }

    .navBar .topR .barManu li:first-child span {
        display: block;
    }
}

@media(max-width:480px) {

    .navBar .topR .barManu.active {
        width: 80%;
    }
}
