@{
    //取出data
    var id = ViewBag.skillId;
    String skName = ViewBag.skillName;
    //頁籤標題
    ViewData["Title"] = $"技能\"{id}\"的詳細資料";
}

<div class="row justify-content-between align-items-center pt-3 mb-3">
    <div class="col-12 col-sm-9 col-md-6 col-lg-4 border-bottom">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-12 col-sm-3 col-md-6 col-lg-8 fs-4">
        <span id="editText" class="badge border-end-0 bg-royalblue">閱讀</span>
        <input type="button" id="editBtn" value="切換模式" class="btn btn-lightyellow"/>
    </div>
</div>


@* 表單起始處 *@
<div class="row">
    <div class="col-12 col-sm-9 col-md-6 col-lg-4">
        <form id="userPost" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <input type="hidden" name="SkillId"/>
            @*啟用編輯的區域*@
            <div id="editSec">
                <div class="form-group has-validation">
                    <label for="SkillName" class="form-label">技能名稱</label>
                    <input type="text" id="SkillName" name="SkillName" required maxlength="50" class="form-control rounded-pill ps-3"
                            value="@Html.Raw(skName)"/>
                    <div class="invalid-feedback">
	                    欄位必填且最長不能超過50字
	                </div>
                </div>
            </div>
            @* 按鈕列 *@
            <div class="row justify-content-evenly pt-3">
                <button type="button" id="resetOrigin" class="btn btn-backtolist col-3">重設</button>
                <button type="submit" id="prevent" class="btn btn-backtolist col-3">提交</button>
                <a href="~/Admin/Skills/Index" class="btn btn-backtolist col-5">返回總覽</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        //參數宣告
        var inp = $('#editSec input');
        var sp = $('#editText');
        var resetBtn = $('#resetOrigin');
        var bool = true;

        //input 初始化
        inp.prop('readonly', 'true');
        inp.removeClass('form-control');
        inp.addClass('form-control-plaintext fs-6 bg-light');
        //註冊事件
        $("#editBtn").on("click",modeSwitch);
        resetBtn.on("click", fetchOrigin);

        //按鈕事件處理
        function modeSwitch() {
            if (bool) {
                inp.removeAttr('readonly')
                inp.addClass('form-control');
                inp.removeClass('form-control-plaintext bg-light');
                sp.text("編輯");
                sp.removeClass('bg-royalblue');
                sp.addClass('bg-lightyellow');                
                bool = false;
            }
            else {
                inp.prop('readonly', 'true');
                inp.removeClass('form-control');
                inp.addClass('form-control-plaintext fs-6 bg-light');
                sp.text("閱讀");
                sp.removeClass('bg-lightyellow');
                sp.addClass('bg-royalblue');
                bool = true;
            }
        }
        function fetchOrigin() {
            $('#SkillName').val("@Html.Raw(skName)");
        }
    </script>
}


